auto-install-peers=true
strict-peer-dependencies=false
onlyBuiltDependencies[]=@prisma/client
onlyBuiltDependencies[]=@prisma/engines
onlyBuiltDependencies[]=prisma
onlyBuiltDependencies[]=argon2
onlyBuiltDependencies[]=@nestjs/core
onlyBuiltDependencies[]=esbuild
