:8090 {
    handle /api/* {
        reverse_proxy api:3000
    }
    handle /ws/* {
        reverse_proxy api:3000
    }
    handle /mail/* {
        reverse_proxy mail:8025
    }
    handle {
        reverse_proxy web:80
    }
}
